#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	echo | ./configure.sh
	dh_auto_configure -- \
	-DCMAKE_BUILD_TYPE=Release \
	 -DBUILD_SHARED_LIBS=False \
	 -DINSTALL_GTEST=off
